# Application
DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=

# Database
DATABASE_URL=

# Internationalization
LANGUAGE_CODE=
TIME_ZONE=
USE_I18N=
USE_TZ=

# Static Files
STATIC_URL=

# Mailing
EMAIL_BACKEND=(str, "django.core.mail.backends.console.EmailBackend"),
DEFAULT_FROM_EMAIL=(str, "noreply@gmail.com"),

# CORS
CORS_ALLOW_ALL_ORIGINS=
CORS_ALLOWED_ORIGINS=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_ACCEPT_CONTENT=
CELERY_TASK_SERIALIZER=
CELERY_RESULT_SERIALIZER=
CELERY_TIMEZONE=

# Cache
CACHE_DATABASE_URL=